.error{
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-data{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px white;
    border-radius: 25px;
    border: none;
}
.error-data img{
    border-radius: 50%;
}
.error-data h1{
    color: white;
    font-size: 50px;
}
.error-data h3{
    color: white;
    font-size: 22px;
}
.error-data p {
    color: white;
    margin: 15px 0;
    padding: 0 125px;
    text-align: center;
}

.error-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-btn button {
    margin: 0 8px;
    width: 90px;
    padding: 5px 0;
    box-shadow: 0px 0px 10px white;
    background: transparent;
    color: white;
    border-radius: 20px;
}





@media (min-width:0px) and (max-width:426px) {
    .error-data img{
        height: 150px;
        width: 150px;
    }
    .error-data h1 {
        font-size: 35px;
    }
    .error-data h3 {
        font-size: 15px;
    }
    .error-data p {
        padding: 0 12px;
    }
}